{# variables #}
{% set pagename = 'guidelines' %}
{% set reg_M = r/^M\-(\d*|.*)$/ %}
{% set reg_S = r/^S\-(\d*|.*)$/ %}

{# template & code #}
{% extends 'parts/layout.njk' %}
{% import 'code/scss/_style.njk' as style with context %}
{% import 'code/markup.njk' as markup with context %}

{# macros #}
{% macro outputString(str) %}
  <p>{{ 
    str 
    | nl2br
    | replace('`-', '<code class="language-html">') 
    | replace('-`', '</code>') 
    | urlize
    | safe 
  }}</p>
{% endmacro %}

{% macro outputCode(name, lang) %}
  {% if lang === 'markup' %}
    {% set prefix = 'M-' %}
    {% set source = markup %}
  {% elif lang === 'scss' %}
    {% set prefix = 'S-' %}
    {% set source = style %}
  {% endif %}

  {# couldn't use block filter #}
  {# {%- filter trim %}{{ source.get(name.replace(prefix, '')) }}{% endfilter -%} #}
  <pre><code class="language-{{ lang }}" id="">
  {{- source.get(name.replace(prefix, '')) + '&' | replace('&', '') -}}
  </code></pre>
{% endmacro %}

{% macro outputArray(arr) %}
  {% for item in arr %}
    {% if reg_M.test(item) %}
      {{ outputCode(item, 'markup') }}
    {% elif reg_S.test(item) %}
      {{ outputCode(item, 'scss') }}
    {% else %} 
      {{ outputString(item) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{# main block #}
{% block main %}
<main>
  <header>
    <h1>Frontend Guidelines</h1>
    <p>Frontend guidelines to make team members write consistent & cohesive code together.</p>
  </header>
  {% for _name, _content in guidelines %}
  <section>
    <h2>{{ _name | title }}</h2>
  
    {% if is('Object', _content) %}
      {% for __name, __content in _content %}
      <section>
        <h3 class="has-title-decoration title-decoration_blue">{{ __name | title }}</h3>
    
        {% if is('Object', __content) %}
          {% for ___name, ___content in __content %}
          <section>
            <h4 class="has-title-decoration title-decoration_purple">{{ ___name | title }}</h4>
      
            {% if is('Array', ___content) %}
              {{ outputArray(___content) }}
            {% elif is('String', ___content) %}
              {{ outputString(___content) }}
            {% endif %}
      
          </section>
          {% endfor %}

        {% elif is('Array', __content) %}
          {{ outputArray(__content) }}
        {% elif is('String', __content) %}
          {{ outputString(__content) }}
        {% endif %}
    
      </section>
      {% endfor %}

    {% elif is('Array', _content) %}
      {{ outputArray(_content) }}
    {% elif is('String', _content) %}
      {{ outputString(_content) }}
    {% endif %}
  
  </section>
  {% endfor %}
</main>
{% endblock %}